:javascript
  $(function() {
    $('table').tablesorter();
  });

%h1 
  // Dodge to leave the rest of the name as specified so that
  // my name doesn't have a small D in
  = "#{username[0,1].capitalize}#{username[1..-1]}'s Backpack"
  
%h2 Unique Items

- sections = ['Head', 'Primary', 'Secondary', 'Melee', 'Other']
- sections.each do |section|
  - items, remaining = firsts.partition do |i|
    // Not sure why straight == doesn't seem to work
    - 0 == ( section <=> item_slot(i[:defindex]) )
  - if items.empty? then 
    - items = remaining
  %h3= section
  %table.tablesorter
    %thead
      %th Item Name
      %th Equipped By
    %tbody
      - items.each do |item|
        %tr{:class => if item[:equipped_by].empty? then 'not-equipped' else 'equipped' end } 
          %td= real_name item[:defindex]
          %td
            - inits = item[:equipped_by].collect do |i| 
              %img{:src => "/valve-imgs/20px-Leaderboard_class_#{i.downcase}.png", :alt => "#{i}"}
  - firsts = remaining

%h2 Dupes 
%ul
  - dupes.each do |item|
    %li 
      = real_name item[:defindex]
